<header class="docs-header">
  <h1 class="docs-heading">Introduction</h1>
  <section class="docs-intro">
    <p>
      Regoch database based on the linux file system and grep command.
      Big scalability. The realtime engine.
      <br>It will be implemented in the <a href="https://voovuu.com">Voovuu Search Engine</a> because current databases doesn't show
      good performances, not realtime and hard to setup scalability.
    </p>


    <h2 style="color:palevioletred;margin-top:55px;">Coming Soon !</h2>
  </section>
</header>
