<h1>Navigator Test - Page 1</h1>
<p>Test the <b>Navigator</b> methods.</p>
<i>Activate debug: {router:true, rgKILL:true}</i>
<br>
<h4>LINKS</h4>
<b>with data-rg-href</b>
<br><a href="/playground/navigator1" data-rg-href>/playground/navigator1</a>
<br><a href="/playground/navigator1#somehash" data-rg-href>/playground/navigator1#somehash</a>
<br><a href="/playground/navigator1#somehash2" data-rg-href>/playground/navigator1#somehash2</a>
<br><a href="/playground/navigator2" data-rg-href>/playground/navigator2</a>
<br><a href="/playground/navigator2#somehash" data-rg-href>/playground/navigator2#somehash</a>
<br>
<br>
<b>no data-rg-href</b>
<br><a href="/playground/navigator1">/playground/navigator1</a>
<br><a href="/playground/navigator1#somehash">/playground/navigator1#somehash</a>
<br><a href="/playground/navigator2">/playground/navigator2</a>
<br><a href="/playground/navigator2#somehash">/playground/navigator2#somehash</a>
<br><a href="/playground/navigator1#somehash">/playground/navigator1#somehash</a>
<br>
<br>
<br>
<br>
<h4>METHODS</h4>
<button data-rg-click="runGOTO('/playground/navigator2')">goto /playground/navigator2</button>
<button data-rg-click="runBACK()">back</button>
<button data-rg-click="runFORWARD()">forward</button>
<button data-rg-click="runRELOAD()">reload</button>

