<h1>Navigator Test - Page 2</h1>
<br>
<br>
<h4>LINKS</h4>
<b>with data-rg-href</b>
<br><a href="/playground/navigator2" data-rg-href>/playground/navigator2</a>
<br><a href="/playground/navigator2#somehash" data-rg-href>/playground/navigator2#somehash</a>
<br><a href="/playground/navigator2#somehash2" data-rg-href>/playground/navigator2#somehash2</a>
<br><a href="/playground/navigator1" data-rg-href>/playground/navigator1</a>
<br><a href="/playground/navigator1#somehash" data-rg-href>/playground/navigator1#somehash</a>
<br>
<br>
<h4>METHODS</h4>
<button data-rg-click="runGOTO('/playground/navigator1')">goto /playground/navigator1</button>
<button data-rg-click="runBACK()">back</button>
<button data-rg-click="runFORWARD()">forward</button>
<button data-rg-click="runRELOAD()">reload</button>
<br>
<br>
<h4>REDIRECT</h4>
<br><a href="/playground/navigator3" data-rg-href>/playground/navigator3</a> - Navigator1Ctrl will be executed


