<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <header data-rg-view="header"> ---header--- </header>

    <main>
      This is <mark>main</mark>.
      <br><br>
      <h3>History API</h3>
      <br><a href="/" data-rg-href>Home - /</a>
      <br><a href="/page1?q=something" data-rg-href>Page 1 - page1?q=something</a>
      <br><a href="/page/2?n=22" data-rg-href>Page 2 - /page/2?n=22</a>
      <br><a href="/page/2?n=22">Page 2 - /page/2?n=22 (reload app)</a>
      <br><a href="/form">Form</a>
      <br><a href="/bad/uri" data-rg-href>Bad URI</a>

      <div data-rg-view="home1">--router1--</div>
      <div data-rg-view="home2">--router2--</div>


      <h4>SET & PRINT</h4>
      product name: <input type="text" name="x" data-rg-set="product.name.x @@ print">
      <!-- <input type="text" name="x" data-rg-set="product" data-rg-print="product @@ sibling"> -->
      <p data-rg-print="product.name.x"></p>
      <!-- <p data-rg-print="product @@ inner"></p> -->
      <!-- <p data-rg-print="product @@ sibling"></p> -->
      <!-- <p data-rg-print="product @@ append"><b>name:</b></p> -->
      <!-- <p data-rg-print="product.name @@ prepend"><i>years old</i></p> -->
      <!-- <p data-rg-print="product.name @@ append"><i>parent name:</i></p> -->

      <br><br>
      product colors: <input type="text" name="x" data-rg-set="product.colors.0 @@ print">
      <p data-rg-print="product.colors"></p>
      <p data-rg-print="product.colors.0"></p>
      <p data-rg-print="product.colors.1"></p>
      <p data-rg-print="product.colors.2"></p>

    </main>

    <footer data-rg-view="footer">---footer---</footer>

    <script src="https://code.jquery.com/jquery-3.5.1.js?v=1.4" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/js/regochSPA.js"></script>
  </body>
</html>
