<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
  <body>
    <header data-rg-view="header"> ---header--- </header>

    <main>
      This is <mark>main</mark>.
      <br><br>
      <h3>History API</h3>
      <br><a href="/" data-rg-href>Home - /</a>
      <br><a href="/page1?q=something" data-rg-href>Page 1 - page1?q=something</a>
      <br><a href="/page/2?n=22" data-rg-href>Page 2 - /page/2?n=22</a>
      <br><a href="/page/2?n=22">Page 2 - /page/2?n=22 (reload app)</a>
      <br><a href="/form">Form</a>
      <br><a href="/bad/uri" data-rg-href>Bad URI</a>

      <div data-rg-view="home1">--router1--</div>
      <div data-rg-view="home2">--router2--</div>

      <br><br>
      <h4>IF</h4>
      <button data-rg-click="toggleIF()">toggle IF</button>
      <p data-rg-if="ifX">company name</p>

      <br><br>
      <h4>FOR</h4>
      <button data-rg-click="runFOR()">run FOR</button>
      <p data-rg-for="companies:limit:skip" style="color:green"><span data-rg-print="companies.$i.name @@ append">$i+1 name:</span> -- <b data-rg-print="companies.$i.size"></b></p>
      <p data-rg-for="companies:limit:skip @@ inner" style="color:orangered"><span data-rg-print="companies.$i.name @@ append">$i name:</span><br></p>


      <br><br>
      <h4>SET & PRINT</h4>
      product name: <input type="text" name="x" data-rg-set="product.name.x @@ print">
      <!-- <input type="text" name="x" data-rg-set="product" data-rg-print="product @@ sibling"> -->
      <p data-rg-print="product.name.x @@ append">name: </p>
      <p data-rg-print="product.name.x @@ inset">The name is "${}" !</p>
      <!-- <p data-rg-print="product @@ inner"></p> -->
      <!-- <p data-rg-print="product @@ sibling"></p> -->
      <!-- <p data-rg-print="product @@ append"><b>name:</b></p> -->
      <!-- <p data-rg-print="product.name @@ prepend"><i>years old</i></p> -->
      <!-- <p data-rg-print="product.name @@ append"><i>parent name:</i></p> -->


      <br><br>
      product colors: <input type="text" name="x" data-rg-set="product.colors.0 @@ print">
      <p data-rg-print="product.colors"></p>
      <p data-rg-print="product.colors.0"></p>
      <p data-rg-print="product.colors.1"></p>
      <p data-rg-print="product.colors.2"></p>



    </main>

    <footer data-rg-view="footer">---footer---</footer>

    <script src="https://code.jquery.com/jquery-3.5.1.js?v=1.4" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
