<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>App</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>
    <header data-rg-inc="header.html @@ append @@ h2 > small "> ---header--- </header>
    <main>
      This is <mark>main</mark>.
      <button onclick="app.clickFja(5, 'str', 8, 9)">Click -- onclick</button>
      <button data-rg-click="clickFja(5, 'str', 8, 9)">Click -- rg-click</button>
      <br><br>
      <h3>History API</h3>
      <button data-rg-click="historyData()">history data</button>
      <br><a href="/" data-rg-href>Home - /</a>
      <br><a href="page1?q=something" data-rg-href>Page 1 - page1?q=something</a>
      <br><a href="/page/2?n=22" data-rg-href>Page 2 - /page/2?n=22</a>
      <br><a href="/bad/uri" data-rg-href>Bad URI</a>
    </main>
    <footer data-rg-inc="footer.html">---footer---</footer>

    <script src="https://code.jquery.com/jquery-3.5.1.js?v=1.4" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/js/regochSPA.js"></script>
  </body>
</html>
