<header class="docs-header">
  <h1 class="docs-heading">Router</h1>
  <section class="docs-intro">
    <i>class Router</i>
    <p>The internal router to define what function will be executed on certain server command.</p>
  </section>
</header>


<section class="docs-section" id="item-2-1">
  <h2 class="section-heading">Properties</h2>
  <h4>Router</h4>
  <table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    <tr>
      <td>routerOpts</td>
      <td>router options (see table below)</td>
      <td>object</td>
      <td></td>
    </tr>
    <tr>
      <td>trx</td>
      <td>transitional object which passes through all route functions</td>
      <td>{uri:string, body:any, ...}</td>
      <td></td>
    </tr>
    <tr>
      <td>routeDefs</td>
      <td>route definitions</td>
      <td>[{route:string, routeParsed:object, funcs:Function[] }]</td>
      <td></td>
    </tr>
  </table>

  <br><br>
  <h4>routerOpts</h4>
  <table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    <tr>
      <td>debug</td>
      <td>show debug messages</td>
      <td>boolean</td>
      <td>false</td>
    </tr>
  </table>
</section>


<section class="docs-section" id="item-2-2">
  <h2 class="section-heading">Transitional Variable</h2>
  The transitional variable is the argument in the router middleware functions <small>(trx) => { ... }</small>.
  In order to function properly the minimal and requred property is <b>uri</b>. Sometimes <b>body</b> property will be also required.
  <br>Example: trx = <b style="color:orangered">{uri: '/product/save', body: {name: 'Toy', color: 'red'}}</b>
</section>



 <section class="docs-section" id="item-2-3">
  <h2 class="section-heading">Methods</h2>
  <p>Use this methods to control the websocket server routes.</p>
	<ul class="methods">

    <li>
      <b>constructor <i>(routerOpts :object) :void</i></b>
      <p class="desc">Create the Router class instance.
      </p>
    </li>
    <li>
      <b>set trx(obj :{uri, body, ...}) :void</b>
      <p class="desc">Set the transitional variable.</p>
    </li>
    <li>
      <b>get trx() :{uri, body, ...}</b>
      <p class="desc">Get the transitional variable.</p>
    </li>
    <li>
      <b>def <i>(route :string, ...funcs :Function[]) :Router</i></b>
      <p class="desc">Define route, routeParsed and associate corresponding functions to the route.
    </li>
    <li>
      <b>redirect <i>(fromRoute :string, toRoute :string) :Router</i></b>
      <p class="desc">Redirect from one route to another route.
    </li>
    <li>
      <b>notfound <i>(...funcs :Function[]) :Router</i></b>
      <p class="desc">Execute funcs when no route found.
    </li>
    <li>
      <b>do <i>(...funcs :Function[]) :Router</i></b>
      <p class="desc">Execute funcs always on every route.
    </li>
    <li>
      <b>exe <i>() :trx</i></b>
      <p class="desc">Execute the defined routes.
    </li>
  </ul>
</section>

