<h1>DataRg Test</h1>


<!-- examples -->
<h4>SET & PRINT</h4>
product name: <input type="text" name="x" data-rg-set="product.name @@ print">
<!-- <input type="text" name="x" data-rg-set="product" data-rg-print="product @@ sibling"> -->
<p data-rg-print="product.name @@ append">name: </p>
<p data-rg-print="product.address.city @@ inset">The address.city is "${}" !</p>
<p data-rg-print="product @@ append" style="color:Gray">JSON: </p>
<br>
<br>product.colors: <span data-rg-print="product.colors"></span>
<br>product.colors.0: <span data-rg-print="product.colors.0"></span> <input type="text" name="xyz" data-rg-set="product.colors.0 @@ print" placeholder="change product.colors.0">
<br>product.colors.1: <span data-rg-print="product.colors.1"></span>
<br>product.colors.2: <span data-rg-print="product.colors.2"></span>


<br><br>
<h4>CLASS</h4>
<button data-rg-click="runCLASS()">runCLASS</button>
<small>Open browser developer tools to see the effect after the button is clicked.</small>
<p class="initial-klass" data-rg-class="myKlases">Class initial-klass will remain</p>
<p class="initial-klass" data-rg-class="myKlases @@ replace">Class initial-klass will be removed due to @@replace</p>


<br><br>
<h4>STYLE</h4>
<button data-rg-click="runSTYLE(21px, red)">run STYLE</button>
<p style="font-weight:bold" data-rg-style="myStajl">"font-weight:bold" will remain</p>
<p style="font-weight:bold" data-rg-style="myStajl @@ replace">"font-weight:bold" will be removed</p>





<!-- code -->
<br><br><br><br><br>
<div class="play-desc">
  This example tests:
  <ol>
    <li>print(attrvalueProp) &rarr; data-rg-print="<controllerProperty> [@@ inner|outer|sibling|prepend|append]"</li>

  </ol>

  <pre><code class="language-javascript">
/*** CONTROLLER ***/

  </code></pre>


  <pre><code class="language-markup"><xmp>
/*** VIEW ***/

  </xmp></code></pre>

</div>


