<h1>DataRg Test</h1>


<!-- examples -->

<h3>--GENERATORS--</h3>

<h4>DATA-RG-FOR</h4>
<button data-rg-click="runFOR()">run FOR</button>
<br><br><b>@@outer</b>
<p data-rg-for="companies:limit:skip" style="color:green" class="$i+1"><span data-rg-print="companies.$i.name @@ append">$i+1 name:</span> -- <b data-rg-print="companies.$i.size"></b></p>
<br><b>@@inner</b>
<p data-rg-for="companies:limit:skip @@ inner" style="color:orangered" class="$i+1"><span data-rg-print="companies.$i.name @@ append">$i name:</span><br></p>

<br><br>
<h4>DATA-RG-REPEAT</h4>
<p>The example shows how <b>data-rg-repeat</b> will multiply the element. It will work good even if it contains data-rg-set and data-rg-print elements.</p>
<p>Initially the P element will be repeated 3 times due to <b>data-rg-repeat="3"</b> attribute. When the button "run REPEAT" is clicked the element will be repeated 5 times.</p>
<button data-rg-click="runREPEAT(5)">run REPEAT</button>
<p id="petID" data-rg-repeat="3" class="$i+1">The pet #$i+1: <input data-rg-set="pets.$i @@ rgPrint"> <span data-rg-print="pets.$i"></span></p>

<br><br>
<h4>DATA-RG-IF</h4>
<div>
 <button data-rg-click="toggleIF()">toggle IF</button>
  <br>-- start <span data-rg-if="ifX @@ remove">company name 1</span>
  <br><b>-- middle</b> <span data-rg-if="ifX @@ hide">company name 2</span>
  <br>-- end
</div>
  <p data-rg-if="ifX @@ remove">company name 3</p>

<br><br>
<h4>DATA-RG-SWITCH</h4>
<p>Here are two tests. <br>First will show only one switchcase when red, blue, green is typed in the input field. Another test will show multiple switchcases.</p>
<i>-- switch one example</i>
<br><input type="text" data-rg-set="myColor @@ rgPrint" placeholder="type red, green or blue">
<button data-rg-click="runSWITCH()">run SWITCH "<span data-rg-print="myColor"></span>"</button>
<ul data-rg-switch="myColor">
  <li data-rg-switchcase="red">red</li>
  <li data-rg-switchcase="green">green</li>
  <li data-rg-switchcase="blue">blue</li>
  <li data-rg-switchdefault>silver (default)</li>
</ul>
<br>
<br><i>--switch multiple example</i>
<div data-rg-switch="obj.myColors @@ multiple">
  <p data-rg-switchcase="red2">red2</p>
  <p data-rg-switchcase="green2">green2</p>
  <p data-rg-switchcase="blue2">blue2</p>
  <p data-rg-switchdefault>silver2 (default)</p>
</div>


<br><br>
<h3>--NON-GENERATORS--</h3>

<h4>DATA-RG-ELEM</h4>
<button data-rg-click="runELEM()">run ELEM</button> <small>Click button multiple times to toggle the text color.</small>
<p style="font-weight:bold" data-rg-elem="myElem">catch this element and store in the controller object (this.rgelems)</p>


<br><br>
<h4>DATA-RG-PRINT &amp; DATA-RG-SET</h4>
<button data-rg-click="runPRINT()">run PRINT</button> <small>Click on the button to change the print values</small>
<!-- <input type="text" name="x" data-rg-set="product" data-rg-print="product @@ sibling"> -->
<br>
<br><span data-rg-print="product.name @@ append">product.name: </span> &nbsp;<input type="text" name="x" data-rg-set="product.name @@ rgPrint" placeholder="change product.name">
<p data-rg-print="product.address.city @@ append">The product.address.city is</p>
<p data-rg-print="product @@ append" style="color:Gray">JSON: </p>
<br><small>array test</small>
<br>product.colors: <span data-rg-print="product.colors"></span>
<br>product.colors.0: <span data-rg-print="product.colors.0"></span> <input type="text" data-rg-set="product.colors.0 @@ rgPrint" placeholder="change product.colors.0">
<br>product.colors.1: <span data-rg-print="product.colors.1"></span>
<br>product.colors.2: <span data-rg-print="product.colors.2"></span> <input type="text" data-rg-set="product.colors.2 @@ rgPrint" placeholder="change product.colors.2">


<br><br>
<h4>DATA-RG-PRINT &amp; DATA-RG-SET (initial value)</h4>
<p>Set the initial value of the input tag with the <b>value</b> attribute.</p>
Change pet name: <input type="text" name="x" value="Mrnjao" data-rg-set="pet.cat.name @@ rgPrint">
<br><span data-rg-print="pet.cat.name @@ append">Pet name is</span>


<br><br>
<h4>DATA-RG-PRINT with the pipe</h4>
<b>data-rg-print="longText" &rarr;</b> <span data-rg-print="longText"></span>
<br><b>data-rg-print="longText | slice(0, 10)" &rarr;</b> <span data-rg-print="longText | slice(0, 10)"></span>
<br><b>data-rg-print="longText | replace(/Lorem/ig, 'LOREM')" &rarr;</b> <span data-rg-print="longText | replace(/Lorem/ig, 'LOREM')"></span>



<br><br><br>
<h4>DATA-RG-ECHO</h4>
<span data-rg-echo="This is the echoed text!"></span>


<br><br>
<h4>DATA-RG-CLASS</h4>
<button data-rg-click="runCLASS()">runCLASS</button>
<small>Open browser developer tools to see the effect after the button is clicked.</small>
<p class="my-italic" data-rg-class="myKlases">Class my-italic will remain</p>
<p class="my-italic" data-rg-class="myKlases @@ replace">Class my-italic will be removed due to @@replace</p>


<br><br>
<h4>DATA-RG-STYLE</h4>
<button data-rg-click="runSTYLE(21px, red)">run STYLE</button>
<p style="font-weight:bold" data-rg-style="myStajl">"font-weight:bold" will remain</p>
<p style="font-weight:bold" data-rg-style="myStajl @@ replace">"font-weight:bold" will be removed</p>



<br><br><br>
<h3 style="color:plum">-- EXPERIMENTAL METHODS --</h3>

<h4>RG-INTERPOLATE</h4>
The method is experimental. Use data-rg-print instead.
<br>ISSUE: When applied breaks DataRgListeners.
<br>
<br><button data-rg-click="runINTERPOLATE()">runINTERPOLATE</button>
<br>Bank owner: <b>${bankOwner}</b>
<br>Bank name: <b>${  bank.name}</b>
<br>Bank city: <b>${ bank.address.city }</b>
<br>Second employee: <b>${  bank.employees.1.name  }</b>
<br>Non exisitng controller property: <b>${bad_Property3}</b>

