<h1>Page::loadInc() Test</h1>

<article data-rg-inc="playground/inc1.html">--inc1.html--</article>
<br><br><span>--------------</span>
<section data-rg-inc="playground/inc10.html @@ sibling @@ b">--inc10.html@@sibling@@b--</section>
<br><br><span>--------------</span>
<section data-rg-inc="playground/inc3.html @@ prepend">--load inc3.html@@prepend--</section>


<br><br><br><br><br>
<div class="play-desc">
  This example tests:
  <ol>
    <li>loadInc() - nested data-rg-inc elements</li>
    <li>setTitle</li>
    <li>setDescription</li>
    <li>setKeywords</li>
    <li>setLang</li>
    <li>loadView</li>
    <li>loadCSS - load CSS file on prerender</li>
    <li>unloadCSS - unload CSS file on destroy</li>
    <li>lazyJS - load JS file on postrender</li>
    <li>unlazyJS - remove the lazy loaded JS on destroy</li>
    <li>controller lifecycle hooks: prerender, postrender, destroy</li>
  </ol>
</div>


