<h1>DataRgListeners Test</h1>


<!-- examples -->

<h4>DATA-RG-HREF</h4>
<a href="./datarglisteners">LINK1</a> - This will reload the page becasue there in no <b>data-rg-href</b> attribute.
<br><a href="./datarglisteners" data-rg-href>LINK2</a> - This will not reload the page and will act as single page app link.


<br><br>
<h4>DATA-RG-CLICK</h4>
<button data-rg-click="runCLICK(5, 'str', 8, 9, $element)">Fetch Data</button> <small>Click the button to fetch JSON from the server.</small>
<br><small data-rg-print="answer.res.content @@ inset">DATA: ${}</small>



<br><br>
<h4>DATA-RG-CHANGE</h4>
Update data-rg-switch and data-rg-if every time the SELECT is changed. <br>
<select data-rg-change="runCHANGE()" data-rg-set="mySelect">
  <option value="one">one</option>
  <option value="two" selected>two</option>
  <option value="three">three</option>
</select>
<ol data-rg-switch="mySelect">
  <li data-rg-switchcase="one">ONE</li>
  <li data-rg-switchcase="two">TWO</li>
  <li data-rg-switchcase="three">THREE</li>
</ol>
<div><p data-rg-if="ifThree" data-rg-print="mySelect @@ inset">The selected value is <b>${}</b>.</p></div>
