<h1>Model Test</h1>

<h3>Company</h3>
<pre data-rg-print="company"></pre>
<br>
<br>name: <b data-rg-print="company.name"></b>
<br>year: <b data-rg-print="company.year"></b>
<br>isActive: <b data-rg-print="company.isActive"></b>
<br>cities: <b data-rg-print="company.cities"></b>



<br><br>
<h3>Tests</h3>
<button data-rg-click="testDataType()">testDataType</button> - test modelWatch() when data types are not as defined in the model schema
<br><button data-rg-click="testArray()">testArray</button> - test modelWatch() when the array is changed (array length and array elements changed)
<br><button data-rg-click="testPrimitives()">testPrimitives</button> - test modelWatch() when values are changed
<br>
<br><button data-rg-click="test_modelSet()">test_modelSet</button> - test modelSet() method (emulate the stream of data)
<br>
<br><button data-rg-click="test_modelReset()">test_modelReset</button> - test modelReset() method (undefine company.name)
<br><button data-rg-click="test_modelReset_all()">test_modelReset_all</button> - test modelReset() method (undefine all $model properties)
