@import 'footer2.scss';

div#footer {
  color: blue;

  & > p {
    font-size: larger;
  }
}

header {
  color:green;
  margin-bottom: 34px;
}



.my-bold {
  font: 15px Verdana;
  font-weight: bold;
  color:Orange;
}

.my-italic {
  font-style: italic;
}
