img.logo-icon {
  height: 55px;
}

table {
  font: 15px Verdana;
}

ul.methods > li {
  & > b {
    color: #A4C4F2;
    font-size: larger;
    & > i {
      font-size:smaller;
    }
  }

  & p {
  font: 14px Verdana;}
}
