<header class="docs-header">
  <h1 class="docs-heading">DataRg</h1>
  <section class="docs-intro">
    <i>class DataRg extends DataRgListeners</i>
    <br><br>
    <p>Parse HTML elements with the "data-rg-" attribute (non-listeners)</p>
  </section>
</header>

<section class="docs-section" id="item-5-1">
  <h2 class="section-heading">Properties</h2>
  <table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    <tr>
      <td>separator</td>
      <td>The separator character in the data-rg-... attributes</td>
      <td>string</td>
      <td>@@</td>
    </tr>
    <tr>
      <td>rgelems</td>
      <td>Collected elems with data-rg-elem attribute</td>
      <td>{HTMLElement}</td>
      <td>{}</td>
    </tr>
  </table>
</section>

<section class="docs-section" id="item-5-2">
  <h2 class="section-heading">Methods</h2>
  <p>Use this methods in the controller to render certain data-rg- elements.</p>
  <ul class="methods">
    <h4>GENERATORS</h4>
    Generators will produce new HTML elements or remove existing. It will change the DOM tree.
    <li>
      <b>rgFor <i>(controllerProp :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-for="&lt;controllerProp&gt;[:&lt;limit&gt;:&lt;skip&gt;]"</b> elements. Multiply the element. The controllerProp should be an array. Use limit and skip for the pagination.
        <br>If the iteration parameter <b style="color:brown">$i</b> is used then expressions like .$i or $i+1, $i-1, $i^2, ... will be parsed in the HTML file.
        <br>For example: <small>&lt;p data-rg-for="companies"&gt;&lt;span data-rg-print="companies.$i.name @@ append"&gt;$i+1 name:&lt;/span&gt;&lt;/p&gt;</small>
        <br><b>controllerProp</b> - controller property name (when used the number of data-rg elements is reduced to elements with the attribute <small>[${attrName}^="${controllerProp}"]</small>)
        <br>Examples:
        <br>data-rg-for="companies"
        <br>data-rg-for="company.employees:limit:skip" - limit and skip are controller properties
      </p>
    </li>
    <li>
      <b>rgRepeat <i>(controllerProp :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-repeat="&lt;controllerProp&gt;"</b> elements. Repeat the element <i>n</i> times.
        <br>If the iteration parameter <b style="color:brown">$i</b> is used then expressions like .$i or $i+1, $i-1, $i^2, ... will be parsed in the HTML file.
        <br><br><b>controllerProp</b> - controller property which is the repetition number</p>
    </li>
    <li>
      <b>rgPrint <i>(controllerProp :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-print="&lt;controllerProperty&gt; [| pipeFunc()] [@@ inner|outer|sibling|prepend|append|inset] [@@ keep]"</b> elements. Print the controller's property in the view.
        <br>TIP1: If the controller property has <i>falsy</i> value and <i>@@keep</i> is used then innerHTML value is printed.
        <br>TIP2: If the value is the JS object or array it is automatically recognised and converted to the JSON string.
        <br>TIP3: With inset the printed value can by at any position. For example: <small>&lt;span data-rg-print="age @@ inset"&gt;John is ${} years old.&lt;/span&gt;</small>
        <br>TIP4: The <b>pipeFunc</b> can be used to format the output, for example:
        <br><small>data-rg-print="longText | slice(0, 10)"</small> or
        <br><small>data-rg-print="longText | replace(/Lorem/ig, 'LOREM')"</small>
        <br><b>controllerProp</b> - controller property name. The part of the attribute value which relates to the controller property, for example
        <i>product.name</i> in the data-rg-print="product.name @@ inner". This speed up rendering because it's limited only to one element.</p>
    </li>
  </ul>

  <ul class="methods">
    <h4>NON-GENERATORS</h4>
    Non-generators will affect elements with the specified data-rg- attribute and will not change the DOM tree.
    <li>
      <b>rgIf <i>(controllerProp :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-if="&lt;controllerProp&gt; [&lt;$comparison&gt;]"</b> elements.
        Hide or remove the HTML element if the <i>controllerProp</i> gets falsy value.
        <br><b>controllerProp</b> - controller property name
        <br>
        <br><i>comparison</i> - comparison operators can be used:
        <br><strong>$not()</strong>
        <strong style="margin-left:5px">$eq(arg :any)</strong>
        <strong style="margin-left:5px">$gt(arg :number)</strong>
        <strong style="margin-left:5px">$gte(arg :number)</strong>
        <strong style="margin-left:5px">$lt(arg :number)</strong>
        <strong style="margin-left:5px">$lte(arg :number)</strong>
        <strong style="margin-left:5px">$ne(arg :any)</strong>
        <strong style="margin-left:5px">$in(arg :any[])</strong>
        <strong style="margin-left:5px">$nin(arg :any[])</strong>
        <br>
        <br>Examples:
        <br>data-rg-if="ifAge"
        <br>data-rg-if="employee.age $gt(55)"
      </p>
    </li>
    <li>
      <b>rgSwitch <i>(controllerProp :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-switch="&lt;controllerProp&gt; [@@ multiple]"</b> elements.
        Show or remove elements depending if "data-rg-switchcase" value matches controller property.
        <br>Notice2: When @@multiple is used the multiple switchcases can be shown. The controller property must be an array.
        <br><b>controllerProp</b> - controller property name
        <br>Example:
        <br>data-rg-switch="age"
        <br>data-rg-switchcase="18"
        <br>data-rg-switchcase="21"
        <br>data-rg-switchdefault
    </li>
    <li>
      <b>rgDisabled <i>(controllerProp :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-disabled="&lt;controllerProp&gt; [&lt;$comparison&gt;]"</b> elements.
        Disable the HTML element if the <i>controllerProp</i> gets true value.
        <br><b>controllerProp</b> - controller property name
        <br>
        <br><i>comparison</i> - comparison operators can be used just like in the data-rg-if elements.
        <br>
        <br>Examples:
        <br>data-rg-disabled="ifAge"
        <br>data-rg-disabled="employee.age $gt(55)"
      </p>
    </li>
    <li>
      <b>rgValue <i>(controllerProp :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-value="&lt;controllerProperty&gt;</b> elements. Set the element value attribute.
        <br>It's specially useful when using in combination with <i>data-rg-for</i>:
        <br><small>&lt;option data-rg-for="autos" data-rg-value="autos.$i.id" data-rg-print="autos.$i.name"&gt;&lt;/option&gt;</small>
        <br><b>controllerProp</b> - controller property which defines the "value" attribute</p>
    </li>
    <li>
      <b>rgChecked <i>(controllerProp :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-checked="&lt;controllerProperty&gt;</b> elements.
        Sets the "checked" attribute with the controller property value.
        The controller property is an array. If the checkbox value is in that array then the checkbox is checked.
        Use it for checkboxes only.
        <br><b>controllerProp</b> - controller property which defines the "value" attribute</p>
    </li>
    <li>
      <b>rgClass <i>(controllerProp :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-class="&lt;controllerProperty&gt; [@@ add|replace]"</b> elements. Set the element class attribute.
        <br>When <i>@@add</i> is used the new classes will be appended to the existing classes. If the <i>@@replace</i> is used then all classes will be replaced. The default is <i>add</i>.
        <br><b>controllerProp</b> - controller property which defines the "class" attributes. It should be an array, for example: <small>this.classes = ['active', 'bold']</small></p>
    </li>
    <li>
      <b>rgStyle <i>(controllerProp :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-style="&lt;controllerProperty&gt; [@@ add|replace]"</b> elements. Set the element style attribute.
        <br>When <i>@@add</i> is used the new styles will be appended to the existing styles. If the <i>@@replace</i> is used then all styles will be replaced.</th>
        <br><b>controllerProp</b> - controller property which defines the "style" attribute</p>
    </li>
    <li>
      <b>rgSrc <i>(controllerProp :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-src="&lt;controllerProperty&gt; [@@ defaultSrc]"</b> elements. Set the element src attribute, for example in the image tag.
        <br>The <i>@@defaultSrc</i> will be loaded in case when <i>controllerProp</i> is undefined, for example <small>data-rg-src="myImageURL @@ http://image.com/robot.jpg"</small>
        <br><b>controllerProp</b> - controller property which defines the "src" attribute value</p>
    </li>
    <li>
      <b>rgElem <i>() :void</i></b>
      <p class="desc">Parse the <b>data-rg-elem="&lt;rgelemsProp&gt;"</b> elements. Transfer the DOM element to the controller property "this.rgelems".</p>
    </li>
    <li>
      <b>rgEcho <i>(text :string) :void</i></b>
      <p class="desc">Parse the <b>data-rg-echo="&lt;text&gt;"</b> elements. Print the <i>text</i> in the view as textContent.
        <br><b>text</b> - the value which is printed in the textContent of the element
        <br>
        <br>Examples:
        <br><small>&lt;span data-rg-echo="$i+1"&gt;&lt;/span&gt;</small>
        <br><small>&lt;span data-rg-echo="name: {cars.0.name} -- price: $ {cars.0.price}"&gt;&lt;/span&gt;</small> - if one of {} interpolations is undefined the echoed text will be empty string
      </p>
    </li>
    <li>
      <b>rgFlicker <i>(bool :boolean) :void</i></b>
      <p class="desc">Parse the "data-rg-flicker" attribute. Initially when controller start hide elements with data-rg-flicker and show it when render is finished.
        <br>It will prevent element flickering during render process.
        <br><b>bool</b> - to show or hide the element
        <br>
        <br>Example:
        <br><small>&lt;span data-rg-flicker data-rg-print="name"&gt;ma name: &lt;/span&gt;</small>
      </p>
    </li>
  </ul>
</section>


<section class="docs-section" id="item-5-3">
  <h2 class="section-heading">Examples</h2>
  <h4>1. data-rg-switch</h4>
  The example shows how to use "data-rg-switch", "data-rg-switchcase" and "data-rg-switchdefault" to show one switchcase.
  For example if <small>myColor='green'</small> then green will be shown and others will be removed.
  <pre><code class="language-markup">
&lt;ul data-rg-switch="myColor"&gt;
  &lt;li data-rg-switchcase="red"&gt;red&lt;/li&gt;
  &lt;li data-rg-switchcase="green"&gt;green&lt;/li&gt;
  &lt;li data-rg-switchcase="blue"&gt;blue&lt;/li&gt;
  &lt;li data-rg-switchdefault&gt;silver (default)&lt;/li&gt;
&lt;/ul&gt;
  </code></pre>

  <h4>2. data-rg-switch with multiple</h4>
  The example shows how to use "data-rg-switch", "data-rg-switchcase" and "data-rg-switchdefault".
  @@ multiple will show multiple items, for example if <small>myColorArr=['red', green]</small> then red and green will be shown.
  <pre><code class="language-markup">
&lt;div data-rg-switch="myColorArr @@ multiple"&gt;
  &lt;p data-rg-switchcase="red"&gt;red&lt;/p&gt;
  &lt;p data-rg-switchcase="green"&gt;green&lt;/p&gt;
  &lt;p data-rg-switchcase="blue"&gt;blue&lt;/p&gt;
  &lt;p data-rg-switchdefault&gt;silver (default)&lt;/p&gt;
&lt;/div&gt;
  </code></pre>

  <br>
  <h4>3. data-rg-for</h4>
  The example shows how to use "data-rg-for" and iteration parameter $i.
  <pre><code class="language-markup">
&lt;p data-rg-for="companies:limit:skip" style="color:green"&gt;&lt;span data-rg-print="companies.$i.name @@ append"&gt;$i+1 name:&lt;/span&gt; -- &lt;b data-rg-print="companies.$i.size"&gt;&lt;/b&gt;&lt;/p&gt;
&lt;p data-rg-for="companies:limit:skip @@ inner" style="color:orangered"&gt;&lt;span data-rg-print="companies.$i.name @@ append"&gt;$i name:&lt;/span&gt;&lt;br&gt;&lt;/p&gt;
  </code></pre>

  <br>
  <h4>4. data-rg-repeat</h4>
  The example shows how to use "data-rg-repeat" and iteration parameter $i.
  <pre><code class="language-markup">
&lt;p id="colorID" data-rg-repeat="3"&gt;$i+1 &lt;input data-rg-set="colors.$i @@ print"&gt; &lt;span data-rg-print="colors.$i"&gt;&lt;/span&gt;&lt;/p&gt;
  </code></pre>

  <br>
  <h4>5. data-rg-elem</h4>
  The example shows how to use "data-rg-elem" to toggle the lement's color.
  <pre><code class="language-markup">
&lt;button data-rg-click="runELEM()"&gt;run ELEM&lt;/button&gt;
Click button multiple times to toggle the text color. Very simple.
&lt;p data-rg-elem="myElem"&gt;catch this element and store in the controller object (this.rgelems)&lt;/p&gt;
  </code></pre>

  <pre><code class="language-js">
runEVT(elem, evt, boja) {
  // console.log(elem);
  // console.log(evt);
  elem.style.color = boja;
}
  </code></pre>




</section>
