<header class="docs-header">
  <h1 class="docs-heading">Model</h1>
  <section class="docs-intro">
    <i>class Model extends Page</i>
    <br><br>
    <p>Define the model $schema and re-render the data-rg- elements as the controller properties change.
    This class makes reactive view responses on the dynamic controller properties.</p>
  </section>
</header>

<section class="docs-section" id="item-17-1">
  <h2 class="section-heading">Properties</h2>
  <table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    <tr>
      <td>$schema</td>
      <td>model schema <small>this.$schema = {'companies': 'array', 'user.name': 'string'}</small></td>
      <td>object</td>
      <td>{}</td>
    </tr>
    <tr>
      <td>$model</td>
      <td>accumulator of the controller properties (only properties defined in the schema)</td>
      <td>object</td>
      <td>{}</td>
    </tr>
  </table>
</section>

<section class="docs-section" id="item-17-2">
  <h2 class="section-heading">Methods</h2>
	<ul class="methods">
    <li>
      <strong>modelFill <i>() :void</i></strong>
      <p class="desc">Get the controller values ('this.company.name') and set the $model values ('this.$model.company.name).
      The this.$model is the previous model value and it's compared with the current controller value.
      For example: this.company.name vs. this.$model.company.name .
      <br><i>The method is used internally and in the most cases the developer will not need it.</i>
    </li>
    <li>
      <strong>modelWatch <i>() :void</i></strong>
      <p class="desc">Compare current controller value and previously set $model values.
      If they are different then re-render the data-rg elements.
      <br>This method is triggered every time when DatRgListeners are used.
      For example on data-rg-click="func()" first func() will be completely executed and after that modelWatch() will compare current controller property
      value with the previous value which is stored in the $model.
      <br><i>The method is used internally in DataRgListeners and developer will not need it.</i>
    </li>
    <li>
      <b>modelSchema <i>(sch :object) :void</i></b>
      <p class="desc">Set the model schema.
      <br><b>sch</b> - schema object: <i>{'companies': 'array', 'user.name': 'string'}</i>
      <br>Data Types: 'string', 'number', 'boolean', 'bigint', 'symbol', 'array'
      </p>
    </li>
    <li>
      <b>modelSet <i>(prop :string, val :any) :void</i></b>
      <p class="desc">Update the $model and controller property which is in the schema and re-render the data-rg elements.
      <br>This is useful for the stream of data when data is permanently coming and the data-rg elements should be re-rendered.
      <br><b>prop</b> - controller / $model property name: <i>'company.name'</i>
      <br><b>val</b> - controller / $model property value
      </p>
    </li>
    <li>
      <b>modelReset <i>(prop :string) :void</i></b>
      <p class="desc">Update the $model property with the <i>undefined</i> and re-render the data-rg elements.
      <br><b>prop</b> - controller / $model property name: <i>'company.name'</i>
      <br><i>TIP: When modelReset() is used (without argument) then all $model properties and controller properties which are in the $schema are set to <i>undefined</i></i>
      </p>
    </li>
  </ul>
</section>


<section class="docs-section" id="item-17-3">
  <h2 class="section-heading">Example</h2>
  <pre><code class="language-javascript">
class ModelCtrl extends Controller {

  constructor(app) {
    super();
    this.debugOpts = {
      modelFill: false,
      modelWatch: true,
      modelSet: false,
      modelReset: true
    };
    this.modelSchema({
      'company.name': 'string',
      'company.year': 'number',
      'company.isActive': 'boolean',
      'company.cities': 'array'
    });
    this.i = 0;
  }

  async init(trx) {
    this.setTitle('Model Test');
    this.loadCSS(['https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-coy.min.css']);
    this.unloadCSS(['/assets/css/theme.css']);
    await this.loadView('#primary', 'playground/model/primary.html');
  }

  async prerender() {
    this.company = {
      name: 'Cloud Ltd',
      year: 1987,
      isActive: false,
      cities: ['London', 'Tokyo', 'Paris']
    };
  }


  // when button is clicked the data-rg-elements are re-rendered
  async testDataType() {
    console.log('testDataType - start');
    await syslib.util.sleep(1300);
    this.company.name = 555; // dataType-number
    this.company.year = '1988 year'; // dataType-number
    this.company.isActive = 'yes'; // dataType-boolean
    console.log('testDataType - end, company:', this.company);
  }


}
  </code></pre>



