<header class="docs-header">
  <h1 class="docs-heading">Router</h1>
  <section class="docs-intro">
    <i>class Router</i>
    <br><br>
    <p>The Regoch SPA internal router which is using "regoch-router" npm library.
    <br><br>
    <i>There's no need to use this class inside the Controller.</i></p>
  </section>
</header>


<section class="docs-section" id="item-7-1">
  <h2 class="section-heading">Properties</h2>
  <table style="width:100%">
  <tr>
    <th>Property</th>
    <th>Description</th>
    <th>Type</th>
    <th>Default</th>
  </tr>
  <tr>
    <td>regochRouter</td>
    <td>instance of the "regoch-router" npm class</td>
    <td>object</td>
    <td></td>
  </tr>
  <tr>
    <td>debugOpts</td>
    <td>{router:boolean}</td>
    <td>object</td>
    <td></td>
  </tr>
  </table>
</section>


<section class="docs-section" id="item-7-2">
  <h2 class="section-heading">Methods</h2>
  <p>Do NOT use this methods in the controller unless you know what you'r doing.</p>
	<ul class="methods">
    <li>
      <b>when <i>(route:string, ctrl:object, routeOpts:object = {}): void</i></b>
      <p class="desc">Define the route and give it the controller.</p>
    </li>
    <li>
      <b>notfound <i>(ctrl:object): void</i></b>
      <p class="desc">Define the not found route.</p>
    </li>
    <li>
      <b>do <i>(..funcs): void</i></b>
      <p class="desc">Execute functions on every route.</p>
    </li>
    <li>
      <b>redirect <i>(fromRoute:string, toRoute:string): void</i></b>
      <p class="desc">Redirect from one route to another, so that the toRoute controller will be executed.</p>
    </li>
    <li>
      <b>use <i>(): void</i></b>
      <p class="desc">Test defined routes and if the route is matched against URL execute the route middlewares i.e. the controller hooks.</p>
    </li>
  </ul>
</section>

<section class="docs-section" id="item-7-3">
  <h2 class="section-heading">Route Options</h2>
  <ul>
    <li><b>authGuards :string[]</b> - route guards to do auto login and to protect the route from unauthorised access
    <br>for example: <small>{authGuards: ['autoLogin']}</small></li>
  </ul>
  <br>
  <ol>
    <h4>authGuards</h4>
    <li><i>'autoLogin'</i> - if the user already logged redirect to the "afterGoodLogin" URL</li>
    <li><i>'isLogged'</i> - checks if the user is logged, if not redirect to "afterBadLogin" URL</li>
    <li><i>'hasRole'</i> - checks if the logged user has role contained in the URL, if not redirect to "afterBadLogin" URL</li>
  </ol>
  <br>The example:
  <pre><code class="language-js">
const routesCnf = [
  ['when' '/login' 'LoginCtrl', {authGuards: ['autoLogin']}],
  ['when' '/admin/product/:id' 'AdminProductCtrl', {authGuards: ['isLogged', 'hasRole']}]
];
  </code></pre>
</section>


<section class="docs-section" id="item-7-3">
  <h2 class="section-heading">Router Debug</h2>
  To debug the router use <b>app.router.debugOpts = {router: true}</b> in the <i>app.js</i>.
  <br>For example:
  <pre><code class="language-js">
const app = new App();
app.router.debugOpts = {router: true};
  </code></pre>
</section>


<section class="docs-section" id="item-7-4">
  <h2 class="section-heading">Example</h2>
  <p>The example shows how to define routes i.e. how to asscoiate the controller to specific route.
  There's no need to use the Router methods directly. Instead of that use APP method <b>routes()</b></p>
  <pre><code class="language-js">
/******* src/conf/routesCnf.js ***********/
const log1 = () => { console.log(`1 Host is ${window.location.host}.`); };
const log2 = () => { console.log(`2 Current URI is ${window.location.pathname}${window.location.search}.`); };

// route definitions
module.exports = [
  ['when', '/', 'HomeCtrl'],
  ['when', '/products', 'ProductListCtrl'],
  ['when', '/product/:id', 'ProductCtrl'],
  ['notfound', 'NotfoundCtrl'],
  ['do', log1, log2]
];


/******* src/app.js ***********/
const { App } = require('regoch-spa');
const routesCnf = require('./conf/routesCnf.js');

const app = new App();
app
  .controller([HomeCtrl, ProductListCtrl, ProductCtrl, NotfoundCtrl]) // inject controllers in the app
  .routes(routesCnf).run(); // add and run the app routes

  </code></pre>
</section>



