<header class="docs-header">
  <h1 class="docs-heading">Controller</h1>
  <section class="docs-intro">
    <i>class Controller extends Page</i>
  </section>
  <br><br>
  <p>The controller defines what logic will be applied when route is changed.
    Every controller should be injected in the app with the App:controllersInject() method.
    The controller class is extended with the Page, DataRg, DataRgListeners and Aux classes.
    <br><b style="color:olive">MyController &rarr; Controller &rarr; Page &rarr; DataRg &rarr; DataRgListeners &rarr; Aux</b>

  </p>
</header>

<section class="docs-section" id="item-3-1">
  <h2 class="section-heading">Properties</h2>
  <table style="width:100%">
    <tr>
      <th>Property</th>
      <th>Description</th>
      <th>Type</th>
      <th>Default</th>
    </tr>
    <tr>
      <td>debugOpts</td>
      <td>the debug options (see below)</td>
      <td>object</td>
      <td></td>
    </tr>
  </table>

  <br><br>
  <pre><code class="language-js">
/*** default Controller debug options ***/
      // Controller.js
      render: false,
      autorender: false,

      // Page.js
      loadInc: false,
      loadView: false,
      emptyView: false,
      loadHead: false,
      rgLazyjs: false,

      // DataRg.js
      rgFor: false,
      rgRepeat: false,
      rgPrint: false,

      rgIf: false,
      rgSwitch: false,
      rgDisabled: false,
      rgValue: false,
      rgClass: false,
      rgStyle: false,
      rgSrc: false,
      rgElem: false,
      rgEcho: false,
      rgFlicker: false,

      // DataRgListeners.js
      rgKILL: false,
      rgHref: false,
      rgClick: false,
      rgKeyup: false,
      rgChange: false,
      rgEvt: false,
      rgSet: false,
      rgBind: false
  </code></pre>
</section>

<section class="docs-section" id="item-3-2">
  <h2 class="section-heading">Methods</h2>
  <p style="font-size:smaller">The processing methods are related to render HTML elements with <b>data-rg-</b> attribute. The regoch SPA framework will render all elements with
    data-rg- attributes. Here is the example of one data-rg- element: <small>&lt;span data-rg-print="product.name"&gt;&lt;/span&gt;</small>
    which will set SPAN innerHTML with product.name (controller property value).</p>

  <ul class="methods">
    <h4>LifeCycle Hook Methods</h4>
    <p>
      In the controller processing the developer can use 5 lifecycle hooks: loader(), init(), rend(), postrend() and destroy().
      The preflight if defined with app.preflight() will be executed on every route.
      <br><b style="color:orangered">PREFLIGHT</b><b style="color:orange">&rarr; LOADER &rarr; INIT &rarr; REND &rarr; POSTREND &rarr; DESTROY</b>
    </p>

    <li><i>async</i> <b>loader <i>(trx :object) :Promise&lt;void&gt;</i></b>
      <p class="desc">A hook to load the HTML and other resources. Use <b>Page</b> methods here (loadView, loadInc).
        <br><b>trx</b> - regoch router transitional variable (carrier), see <a href="/router#item-2-2" data-rg-href>here</a></p>
    </li>

    <li><i>async</i> <b>init <i>(trx :object) :Promise&lt;void&gt;</i></b>
      <p class="desc">A hook to initialise the controller properties with the initial values. This is the right place for the API calls.
        <br><b>trx</b> - regoch router transitional variable (carrier)</p>
    </li>
    <li>
      <i>async</i> <b style="color:Gray">rend <i>(trx :object) :Promise&lt;void&gt;</i></b>
      <p class="desc">Render all elements with the "data-rg-..." attribute i.e. DataRg and DataRgListeners.
        If this method is omitted then default render() will be executed. Recommended not to use this method until you exactly know what you are doing.
        <br><b>trx</b> - regoch router transitional variable (carrier)</p>
    </li>
    <li>
      <i>async</i> <b>postrend <i>(trx :object) :Promise&lt;void&gt;</i></b>
      <p class="desc">It's a controller lifecycle hook which executes the controller code after the rend() method.
        <br><b>trx</b> - regoch router transitional variable (carrier)</p>
    </li>
    <li><i>async</i> <b>destroy <i>(pevent :Event) :Promise&lt;void&gt;</i></b>
      <p class="desc">Executes the controller code on destroying the controller, i.e. on <i>navig.onUrlChange</i> event.
        <br>This method will terminate all data-rg listeners activated by current controller (for example data-rg-click which listens for clicks on the element).
        This is very important to save browser's (app) memory space and to prevent memory leaks.
        <br><b>pevent</b> - the 'popstate' (back/forward buttons) or 'pushstate' (data-rg-href element click) event</p>
    </li>

    <br><br>
    <h4>Render Methods</h4>
    <li>
      <strong>renderGens <i>(controllerProp :string) :void</i></strong>
      <p class="desc">Render data-rg- elements (generators like data-rg-for, data-rg-repeat).
        <br><b>controllerProp</b> - controller property</p>
    </li>
    <li>
      <strong>renderNonGens <i>(controllerProp :string) :void</i></strong>
      <p class="desc">Render data-rg- elements (non-generators like data-rg-print, data-rg-echo).
        <br><b>controllerProp</b> - controller property</p>
    </li>
    <li>
      <strong>renderLsns <i>(controllerProp :string) :void</i></strong>
      <p class="desc">Render data-rg- elements (listeners like data-rg-click, data-rg-keyup).
        <br><b>controllerProp</b> - controller property</p>
    </li>
    <li>
      <i>async</i> <strong>render <i>(controllerProp :string, renderDelay :number) :Promise&lt;void&gt;</i></strong>
      <p class="desc">Render all data-rg- elements.
        <br><b>controllerProp</b> - controller property (when used the number of render data-rg- elements is reduced &rarr; speed up render process)
        <br><b>renderDelay</b> - delay in miliseconds between each render phase
      </p>
    </li>
    <li>
      <i>async</i> <strong>renders <i>(controllerProps :string[], renderDelay :number) :Promise&lt;void&gt;</i></strong>
      <p class="desc">Use multiple render() method in one method.
        <br><b>controllerProps</b> - array of the controller property names: ['company.name', 'company.year']
        <br><b>renderDelay</b> - delay in miliseconds between each render phase
      </p>
    </li>
    <li>
      <i>async</i> <strong>autorenderListener <i>() :Promise&lt;void&gt;</i></strong>
      <p class="desc">Listener for the autorender event. Autorender will execute controller's rend() and postrend() and thus automatically update the controller property in the view.
        When autorender is used no need for calling rgPrint(), rgFor(), ...etc.
      </p>
    </li>
  </ul>
</section>


<section class="docs-section" id="item-3-3">
  <h2 class="section-heading">Autorender</h2>
  The autorender is a nice Regoch-SPA feature which provides auto rendering of the controller property.
  When autorender is enabled developer doesn't need to use rendering methods like <i>render(), rgPrint(), rgEcho(), ...etc.</i>.
  Autorender will automatically update the controller property in the view by calling controller's rend() and postrend() methods.
  <br>
  <br>When controllers have a lot of properties which should be shown in the view it's not recommended to use autorender because it can slow down the application.
  Instead use render methods (rgPrint(), rgEcho(), rgIf(), rgFor(), ...) separately in every controller method.
  <br><br>
  Autorender can be enabled globally with <b>app.autorender(true)</b> or separatelly for every route with route option <b>{ autorender: true }</b>.
  By default the autorender is disabled.
  For example:
  <pre><code class="language-js">app.js
---------
app.autorender(false); // this will disable autorender in all routes (controllers)

routes.js
-----------
['when', '/shop/product/:id', 'ShopProductCtrl', { autorender: true }] // this will enable autorender for ShopProductCtrl


  ShopProductCtrl.js
  ------------------------
  async callAPI() {
    this.answer = { res: { content: 'Please wait ...' } };
    await new Promise(r => setTimeout(r, 2100));
    this.answer = await this.httpClient.askJSON('api.dex8.com');
  }

  shopProduct.html
  ------------------------
  &lt;button data-rg-click="callAPI()"&gt;Fetch Data&lt;/button&gt;
  &lt;br&gt;&lt;small data-rg-print="answer.res.content @@ append"&gt;DATA:&lt;/small&gt;

</code></pre>

</section>



<section class="docs-section" id="item-3-4">
  <h2 class="section-heading">Controller Example</h2>
  <pre><code class="language-javascript">
const { Controller, syslib } = require('regoch-spa');

module.exports = class HomeCtrl extends Controller {

  constructor(app) {
    super();
    this.util = syslib.util;
    this.debugOpts = {render: true, rgIf: true}
  }

  async loader(trx) {
    this.setTitle('The Regoch Project');
    this.setDescription('The Regoch Project is bundle of developer tools and frameworks for realtime, web and mobile applications: regoch websocket server and client, single page app, database.');
    this.setKeywords('regoch, websocket, realtime, mobile applications, single page app, database');
    this.setLang('en');

    this.loadCSS([
      'https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-coy.min.css'
    ]);

    await this.loadView('#primary', 'pages/home/primary.html', 'sibling');
    await this.loadViews([
      ['#top', 'pages/shared/top.html'],
      ['#main', 'pages/home/main.html'],
      ['#bottom', 'pages/home/bottom.html']
    ], true);
  }

  async init(trx) {
    this.myTest();
  }

  // if rend() is not defined then default render() will be executed
  async rend(trx) {
    this.rgfor();
  }

  async postrend(trx) {
    await this.lazyJS([
      'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js'
    ], 400);
  }

  async destroy(elem, event) {
    // CODE TO EXECUTE WHEN URL IS CHANGED i.e. WHEN CONTROLLER IS DESTROYED
    this.unlazyJS();
  }



  myTest() {
    console.log('This is INIT test.');
  }


};
  </code></pre>
</section>
