<header class="docs-header">
  <h1 class="docs-heading">Introduction</h1>
  <section class="docs-intro">
    <p>
      The Regoch SPA is framework for developing single page, web applications. Simple and inutitive for use and extremly fast.
      <br>
      <br>&nbsp;<i>The website regoch.org is completely made in the Regoch SPA framework.</i>
    </p>
  </section>
</header>

<section class="docs-section" id="item-1-1">
  <h2 class="section-heading">Features</h2>
  <ul>
    <li>lightweight application - very small size of the compiled file (~50kB only)</li>
    <li>JS files compiled with the gulp and browserify (very fast)</li>
    <li>use CommonJS and write the code just like you are doing that in NodeJS <b>by using require()</b></li>
    <li>no typescript, no heavy compiling, no bullshit</li>
    <li>Model-View-Controller (MVC), intuitive app structure</li>
    <li>easy to learn and to use</li>
    <li>due to its small size you can build very fast mobile apps</li>
  </ul>
</section>

<section class="docs-section" id="item-1-2">
  <h2 class="section-heading">Installation</h2>
	<pre><code class="language-bash">npm install -g regoch-spa</code></pre>
</section>

<section class="docs-section" id="item-1-3">
  <h2 class="section-heading">Quick Start</h2>
  <p>
    Use Regoch-SPA CLI (Command Line Interface) to init the new app.
    This command will create the files and directory structure with the basic example app.
    <pre><code class="language-bash">rg new appName</code></pre>

<br><br>After that open /src/app.js and edit it.
<pre><code class="language-javascript">
const { App } = require('regoch-spa');

// route definitions
const routesCnf = [
  ['when', '/', 'HomeCtrl'],
  ['when', '/contact', 'ContactCtrl'],
  ['when', '/product/:id', 'ProductCtrl'],
  ['notfound', 'NotfoundCtrl'],
];

// define configuration and constants
app
  .conf('API', apiCnf)
  .const('PI', 3.14)
  .freeze(); // prevent CONST and CONF accidental modification

// inject helper libraries which you want to use in the controller
app.libInject({ Lib1, lib2 });

app
  .controller([HomeCtrl, ContactCtrl, ProductCtrl, NotfoundCtrl]) // inject controllers in the app
  .routes(routesCnf).run(); // add and run the app routes
    </code></pre>
    <br><br>

  </p>
</section>


<section class="docs-section" id="item-1-4">
  <h2 class="section-heading">Playground</h2>
	To learn more quickly visit our playground examples:
  <ul>
    <li><a href="/playground/controller-hooks" target="_blank">Controller Lifecycle Hooks</a> - shows in which order will be executed constructor, prerender, postrender, init, destroy</li>
    <li><a href="/playground/page-loadinc" target="_blank">Page::loadInc()</a> - test the loadInc() method with nested data-rg-inc elements</li>
    <li><a href="/playground/page-loadviews" target="_blank">Page::loadViews()</a> - test the loadViews() method with isAsync argument</li>
    <li><a href="/playground/datarg" target="_blank">DataRg</a> - test the data-rg- elements related to DataRg methods</li>
    <li><a href="/playground/datarglisteners" target="_blank">DataRgListeners</a> - test the data-rg- elements related to DataRgListeners methods</li>
  </ul>
</section>


<section class="docs-section" id="item-1-5">
  <h2 class="section-heading">License</h2>
	The software is published under <b>GNU General Public License</b>.

<pre class="mt-2" style="border:1px solid silver; padding: 5px;">
Copyright (C) 2021  Saša Mikodanić

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see https://www.gnu.org/licenses/gpl-3.0.html .
</pre>
</section>
